@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@300&family=Source+Sans+Pro:wght@200;300&display=swap');
*{
  font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  margin: 0px 10px 10px 10px;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

li,
p,
a {
  font-size: 1.6rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

.row {
  margin: 0;
}

.navbar-style {
  background-color: #f8f9fa;
  box-shadow: 2px 4px 13px 1px rgba(8, 8, 8, 0.04);
}

#logo {
 
  display: initial;
  font-weight: 600;
  font-size: 3.5rem;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: #fd5c63;
  text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
  padding: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: #525252;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  padding-left: 1rem;
  font-size: 1.9rem;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #fd5c63;
}

.btn{
    background-color:#fd5c63 ;
    color:white;
    font-size: 2rem;
    border-radius: 11.25rem;
    margin-left:1em;
    
  
}
.card{
  border-radius: -0.75rem;
  margin: 21px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}
.text-center{
  font-size: 24px;
}
