<!DOCTYPE html>
<html lang='en'>
    <head>
        
         <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
   <link rel="stylesheet" href="css/healthstyle.css">
    <title> Saathi </title>
        <style>
            div{
                margin-top: 20px;
                text-align: center;
            }
            h3{
                text-align: center;
            }
            h1{
                text-align: center;
            }
        </style>
    </head>
    <body>
        {{>navbarlog}}
        <div class="container-fluid mt-5"></div>
        <h1> Awareness </h1>
        <div class="row">
            <div class="course-col1">
                <div>
                    <span><a href="videos/awareness1.mp4"></a></span> <br>
                    <embed src="videos/awareness1.mp4" width="320px" height="200px" />
                </div>
                <div>
                    <span><a href="videos/awareness.mp4"></a></span> <br>
                    <embed src="videos/awareness.mp4" width="320px" height="200px" />
                </div>
                <div>
                    <span><a href="videos/exercise.mp4"></a></span> <br>
                    <embed src="videos/awareness.mp4" width="320px" height="200px" />
                </div>
            </div>
            <div class="course-col2" style="color:white;">
                <h3 style="color:white; font-size:3em;"> Always Check for </h3><br><br>
                <p style="color:white;font-size:2em;">1. Severe cramping<p>
                <p style="color:white;font-size:2em;">2. A fever over 38° C (100° F) </p><br>
                <p style="color:white;font-size:2em;">3.Odorous vaginal discharge</p><br>
                <p style="color:white;font-size:2em;">4.Painful urination</p><br>
                <p style="color:white;font-size:2em;">5.Vaginal bleeding</p><br>


            </div>
        
        </div>
    </div>
        <script src="https://kit.fontawesome.com/4fa2b1e08a.js" crossorigin="anonymous"></script>

    </body>
    
  
</html>