<!DOCTYPE html>
<html lang='en'>
    <head>
        
         <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
   <link rel="stylesheet" href="css/healthstyle.css">
    <title> Saathi </title>
        <style>
            div{
                margin-top: 20px;
                text-align: center;
            }
            h3{
                text-align: center;
            }
            h1{
                text-align: center;
            }
        </style>
    </head>
    <body>
        {{>navbarlog}}
        <div class="container-fluid mt-5"></div>
        <h1>Health and Diet</h1>
        <div class="row">
            <div class="course-col1">
                 <h3> Pregnancy is a beautiful phase of every </h3>
                <div>
                </div>
            </div>
            <div class="course-col2">
               
            </div>
        
        </div>
    </div>
        <script src="https://kit.fontawesome.com/4fa2b1e08a.js" crossorigin="anonymous"></script>

    </body>
    
  
</html>